{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "uglify": true
      },
      "modules": false,
      "useBuiltIns": true
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-export-extensions"
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [
        "transform-export-extensions"
      ]
    }
  }
}
